<div class="navbar" role="navigation">
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills">
                <li class="dropdown first col-sm-offset-1"><a ui-sref="departments">首页</a></li>
                <li class="dropdown">
                    <a>企业基础信息</a>
                    <ul class="dropdown-menu">
                        <li><a>查询企业基础信息</a></li>
                        <li><a>创建企业基础信息</a></li>
                        <li><a>导入企业基础信息</a></li>
                        <li><a>导出企业基础信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>企业税务信息</a>
                    <ul class="dropdown-menu">
                        <li><a>查询企业税务信息</a></li>
                        <li><a>导入企业税务信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>企业安监信息</a>
                    <ul class="dropdown-menu">
                        <li><a>查询企业安监信息</a></li>
                        <li><a>创建企业安监信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>商业管理</a>
                    <ul class="dropdown-menu">
                        <li><a>查询商业街/区域</a></li>
                        <li><a>创建商业街/区域</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>农业信息</a>
                    <ul class="dropdown-menu">
                        <li><a>查询农业信息</a></li>
                        <li><a>创建农业信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>项目管理</a>
                    <ul class="dropdown-menu">
                        <li><a>查询项目信息</a></li>
                        <li><a>创建项目信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>报表统计</a>
                    <ul class="dropdown-menu">
                        <li><a>百颗星税务报表</a></li>
                        <li><a>综合报表</a></li>
                        <li><a>企业申报项目汇总</a></li>
                        <li><a>企业面积汇总</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>信息发布</a>
                    <ul class="dropdown-menu">
                        <li><a>短信群发</a></li>
                        <li><a>电子邮件群发</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>系统管理</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="admin.users">用户管理</a></li>
                        <li><a ui-sref="admin.roles">用户权限管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
