<div class="login-header">
    部门选择
</div>
<div class="login-main">
    <div class="col-sm-6">
        <ul>
            <li><a href="#" ng-click="goWelcomeThrough('jfb')">经发办</a></li>
            <li><a href="#" ng-click="goWelcomeThrough('czs')">财政所</a></li>
            <li><a href="#" ng-click="goWelcomeThrough('ajs')">安监所</a></li>
            <li><a href="#" ng-click="goWelcomeThrough('bkx')">百颗星</a></li>

        </ul>
    </div>
    <div class="col-sm-6">
        <ul>
            <li><a href="#" ng-click="goWelcomeThrough('jgs')">经管所</a></li>
            <li><a href="#" ng-click="goWelcomeThrough('myc')">贸易城</a></li>
            <li><a href="#" ng-click="goWelcomeThrough('nfgs')">农副公司</a></li>
            <li><a href="#" ng-click="goWelcomeThrough('zhdw')">综合党委</a></li>
        </ul>
    </div>
</div>
